<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
    <title>ゲームページ</title>
    <script src="/static/js/game.js"></script>
</head>
<body>
    <h1>ゲームページ</h1>
	<p id="themeDisplay">テーマ: </p>
	<div id="player-info">
		<h2>プレイヤー名: <span id="player-name"></span></h2>
	</div>
    <!-- 50音ボタンをここに配置 -->
	<div id="hiragana-board">
		<button class="kana-button">あ</button>
		<button class="kana-button">い</button>
		<button class="kana-button">う</button>
		<button class="kana-button">え</button>
		<button class="kana-button">お</button>
		<button class="kana-button">か</button>
		<button class="kana-button">き</button>
		<button class="kana-button">く</button>
		<button class="kana-button">け</button>
		<button class="kana-button">こ</button>
		<button class="kana-button">さ</button>
		<button class="kana-button">し</button>
		<button class="kana-button">す</button>
		<button class="kana-button">せ</button>
		<button class="kana-button">そ</button>
		<button class="kana-button">た</button>
		<button class="kana-button">ち</button>
		<button class="kana-button">つ</button>
		<button class="kana-button">て</button>
		<button class="kana-button">と</button>
		<button class="kana-button">な</button>
		<button class="kana-button">に</button>
		<button class="kana-button">ぬ</button>
		<button class="kana-button">ね</button>
		<button class="kana-button">の</button>
		<button class="kana-button">は</button>
		<button class="kana-button">ひ</button>
		<button class="kana-button">ふ</button>
		<button class="kana-button">へ</button>
		<button class="kana-button">ほ</button>
		<button class="kana-button">ま</button>
		<button class="kana-button">み</button>
		<button class="kana-button">む</button>
		<button class="kana-button">め</button>
		<button class="kana-button">も</button>
		<button class="kana-button">や</button>
		<button class="kana-button">ゆ</button>
		<button class="kana-button">よ</button>
		<button class="kana-button">ら</button>
		<button class="kana-button">り</button>
		<button class="kana-button">る</button>
		<button class="kana-button">れ</button>
		<button class="kana-button">ろ</button>
		<button class="kana-button">わ</button>
		<button class="kana-button">を</button>
		<button class="kana-button">ん</button>
		<button class="kana-button">ー</button>
	</div>
	<div id="logBox"></div>
</body>
</html>
