<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
    <title>ゲームページ</title>
    <script src="/static/js/game.js"></script>
	<link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>
    <div class="game-container">
        <div class="main-content">
            <div class="game-info">
                <div class="info-item">
                    <span class="info-label">テーマ:</span>
                    <span id="themeDisplay" class="info-value"></span>
                </div>
                <div class="info-item">
                    <span class="info-label">プレイヤー名:</span>
                    <span id="player-name" class="info-value"></span>
                </div>
                <div class="info-item">
                    <span class="info-label">キーワード:</span>
                    <span id="keyword" class="info-value"></span>
                </div>
            </div>
            <div id="playerList"></div>
            <div id="hiragana-board">
                <div>
                    <button class="kana-button">あ</button>
                    <button class="kana-button">い</button>
                    <button class="kana-button">う</button>
                    <button class="kana-button">え</button>
                    <button class="kana-button">お</button>
                </div>
                <div>
                    <button class="kana-button">か</button>
                    <button class="kana-button">き</button>
                    <button class="kana-button">く</button>
                    <button class="kana-button">け</button>
                    <button class="kana-button">こ</button>
                </div>
                <div>
                    <button class="kana-button">さ</button>
                    <button class="kana-button">し</button>
                    <button class="kana-button">す</button>
                    <button class="kana-button">せ</button>
                    <button class="kana-button">そ</button>
                </div>
                <div>
                    <button class="kana-button">た</button>
                    <button class="kana-button">ち</button>
                    <button class="kana-button">つ</button>
                    <button class="kana-button">て</button>
                    <button class="kana-button">と</button>
                </div>
                <div>
                    <button class="kana-button">な</button>
                    <button class="kana-button">に</button>
                    <button class="kana-button">ぬ</button>
                    <button class="kana-button">ね</button>
                    <button class="kana-button">の</button>
                </div>
                <div>
                    <button class="kana-button">は</button>
                    <button class="kana-button">ひ</button>
                    <button class="kana-button">ふ</button>
                    <button class="kana-button">へ</button>
                    <button class="kana-button">ほ</button>
                </div>
                <div>
                    <button class="kana-button">ま</button>
                    <button class="kana-button">み</button>
                    <button class="kana-button">む</button>
                    <button class="kana-button">め</button>
                    <button class="kana-button">も</button>
                </div>
                <div>
                    <button class="kana-button">や</button>
                    <button class="kana-button">ゆ</button>
                    <button class="kana-button">よ</button>
                </div>
                <div>
                    <button class="kana-button">ら</button>
                    <button class="kana-button">り</button>
                    <button class="kana-button">る</button>
                    <button class="kana-button">れ</button>
                    <button class="kana-button">ろ</button>
                </div>
                <div>
                    <button class="kana-button">わ</button>
                    <button class="kana-button">を</button>
                    <button class="kana-button">ん</button>
                    <button class="kana-button">ー</button>
                </div>
            </div>
            <button id="returnToGuest" style="display: none;">新しいゲームを始める</button>
        </div>
        <div id="logBox"></div>
    </div>
</body>
</html>
